.bot-card {
    border: 1px solid #8e8989;
    padding: 16px;
    width: 200px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .bot-card:hover {
    transform: scale(1.05);
  }
  
  .bot-card img {
    width: 100%;
    border-radius: 8px;
  }
  
